<div class="login-wrap">
    <div class="login-html">
       

                <label for="user" class="label" style="color:white; font-family:Verdana; margin-top:90px;"> Please check your email inbox. A confirmation email was sent to @ViewBag.Email.</label>

            </div>


  </div>



